/* bag body Imam START*/

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
  margin: 0;
  padding: 0;
  font-family: Quicksand,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
}

body {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
}

.body {
  text-align:center;
  color:#f368e0;
}

.body h2 {
  color:#f368e0;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
}

.body h2::before {
  content: ' ';
  position: absolute;
  bottom: -0.5em;
  width: 100px;
  min-height: 0;
  border: 0;
  height: 2px;
  background-color: #ffd629;
  border-radius: 2px 2px 0 0;
  left: 50%;
  margin-left: -50px;
}

.body p {
  color: #f368e0;
  text-align: center;
  margin:0;
  margin-bottom: 2rem;
}

img {
  max-width: 10vw;
}

/* Imam END*/

/* bagian header dimas */

/* end dimas */

/*nirvana */
.main {
padding: 150px 0 80px 0;
background-image: url(../img/main_background.png);
background-size:cover;
color:white;
opacity: 0.9;
text-align: center;
}
.main-container h2{
  font-size: 20px;
  font: Arial;
}
.main-container p{
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}


/* cici */
.contents {
  height: 500px;
   margin-top:100px;
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size:18px;
  padding-bottom:15px;
  margin-bottom:50px;
}
.contents-item {
  float: left;
  margin-right:40px;
}
.contents-item p {
  font-size:12px;
  margin-top:30px;
}
img {
  border-radius: 4px;
  width:130px
}
/* cici end */

/* Footer Dito */
.footer-content{
	width: 100%;
	height: 180px;
	background: #f368e0;
    position: relative;
    display: flex;
		margin-top: auto;
}
.footer-bottom{
	width: 100%;
	height: 25px;
	font-size: 13px;
	color: #adadad;
	background: #f368e0;
	text-align: center;
	padding: 2px;
	border-top: 1px solid #8395a7;
}
.footer-content .content-about,
.footer-content .content-social,
.footer-content .content-pesan{
	width: 30%;
	height: 300px;
	position: absolute;
}

.content-about img {
    width: 550px;
    height: 120px;
    padding-top: 30px;
    padding-left: 60px;
}

.footer-content .content-social{
	margin-left: 300px;

}
.footer-content .content-pesan{
	margin-left: 600px;
}
.footer-content .content-pesan h3,
.footer-content .content-social h3{
	color: #8395a7;
	font-size: 20px;
  text-align: center;
	line-height: 40px;
}

.footer-content .content-pesan h3 {
	padding-left: 60px;
}

.footer-content .content-social p{
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
}

.footer-content .content-pesan input{
	display: block;
	margin-left: 85px;
	margin-bottom: 10px;

}
.footer-content .content-pesan .email{
    border: none;
    outline: 1px solid #8395a7;
    background-color: #8395a7;
	width: 70%;

}
.footer-content .content-pesan .isi{
    background-color: #8395a7;
    outline: 1px solid #8395a7;
    border: none;
	width: 70%;
	height: 50px;
}
.footer-content .content-pesan .btn{
    height: 28px;
    width: 71%;
    border: none;
    outline: none;
    background: #8395a7;
    font-size: 13px;
    cursor: pointer;
    transition: .3s;
	padding: 5px;
}
.footer-content .content-pesan .btn:hover{
	background: white;
	color: black;
	cursor: pointer;
}
