/* bag body Imam START*/

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
  margin: 0;
  padding: 0;
  font-family: Quicksand,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
}

.body {
  text-align:center;
  color:#8395a7;
}

.body h2 {
  color:#8395a7;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
}

.body h2::before {
  content: ' ';
  position: absolute;
  bottom: -0.5em;
  width: 100px;
  min-height: 0;
  border: 0;
  height: 2px;
  background-color: #f368e0;
  border-radius: 2px 2px 0 0;
  left: 50%;
  margin-left: -50px;
}

.body p {
  color: #8395a7;
  text-align: center;
  margin:0;
  margin-bottom: 2rem;
}

img {
  max-width: 50vw;
}

/* Imam END*/

/* bagian header dimas */
.navbar {
  position: fixed;
  height: 80px;
  
}
/* end dimas */

/*nirvana */
.main-tentang{
padding: 150px 0 80px 0;
color:white;
opacity: 0.9;
text-align: center;

}
.main-container h2{
  font-size: 20px;
  font: Arial;
}
}
.main-container h3{
  font-size: 30px;
  letter-spacing: 5px;
  margin: 10px;
}


/* cici */
.team-section{
  height: 400px;
  text-align: center;
  background-color: antiquewhite;
  padding-bottom: 40px;
}
.heading-content{
  color: black;
} 
.tim {
  float: left;
  width: 20%;
}
.tim img {
  border-radius: 40%;
  width: 5px;
}
/* cici end */

/* Footer Dito */
.footer-content {
	width: 100%;
	height: 200px;
	background: #f368e0;
  position: absolute;
	margin-top: auto;
  display: flex;
}
.footer-bottom{
	width: 100%;
	height: 25px;
	font-size: 13px;
	color: #adadad;
	background: #f368e0;
	text-align: center;
	padding: 2px;
	border-top: 1px solid #8395a7;
}
.footer-content .content-about,
.footer-content .content-social,
.footer-content .content-pesan{
  flex:33.33%;
	height: auto;
  position: relative;
}

.content-about img {
    width: 100%;
    height: auto;
		padding-top: 40px;
		position: relative;
}

.footer-content .content-pesan h3,
.footer-content .content-social h3{
	color: black;
	font-size: 20px;
  text-align: center;
	line-height: 40px;
}

.footer-content .content-pesan h3 {
	padding-left: 80px;
}


.footer-content .content-social p{
  text-align: justify;
  line-height: 20px;
  font-size: 15px;
}

.footer-content .content-pesan input{
	display: block;
	margin-bottom: 10px;

}
.footer-content .content-pesan .email{
  border: none;
  outline: 1px solid #8395a7;
  background-color: #8395a7;
	width: 70%;
}
.footer-content .content-pesan .isi{
  background-color: #8395a7;
  outline: 1px solid #8395a7;
  border: none;
	width: 70%;
	height: 50px;
}
.footer-content .content-pesan .btn{
  height: 28px;
  width: 70%;
  border: none;
  outline: none;
  background: #8395a7;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s;
	padding: 5px;
}
.footer-content .content-pesan .btn:hover{
	background: white;
	color: black;
	cursor: pointer;
}
