/* Template responsivenya*/
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* footer */
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
  /* footer */

  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
}