/* Template responsivenya*/
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* footer */
  footer{
    position: relative;
    bottom: 0px;
  }
  .footer-content {
    flex-wrap: wrap;
    flex-direction: row;
  }

.footer-content .content-about,
.footer-content .content-social,
.footer-content .content-pesan{
  flex:100%;
	width: 100%;
	height: auto;
}
  /* footer */

  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  /*header start*/
   .navbar {
    overflow: visible;
  }
  .menu{
    width: 100%;
    right: 0;
    top: 80px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .menu a:hover {
    color: #fff;
    background: #b3b3b3;
    transition: all o.3s;
  }
  .btn{
    display: block;
    cursor: pointer;
  }
  .show{
    max-height: 500px;
  }

  /* dimas yang kasih biar main gak terlalu panjang */

  .main-tentang {
    padding: 150px 0 80px 0;
    margin-top: 20px;
  }

  .footer-content .content-social p {
    text-align: center;
  }
  
}
  /*header end*/


